.popups-widget-top {
    display: flex;
    flex-direction: row;
}

.popups-widget-top img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.popups-widget-top p {
    line-height: 0.5;
    margin-left: 5px;
    margin-top: 8px;
}

.username {
    color: rgba(114, 112, 108, 0.918);
}

.city-name {
    color: rgba(233, 164, 25, 0.918);
}

.popups-widget-bottom {
    margin-top: -5px;
}

.popups-widget-bottom-error {
    margin-top: 5px;
    color: rgb(199, 194, 196);

}